.SVG-container {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    min-width: 600px;

    border-radius: 7px;
    border: 2px solid rgb(215, 105, 3);
    margin-left: 50px;
    padding: 10px;
}
