.copy-button-container {
    border-radius: 3px;
    display: flex;
    cursor: pointer;
}

.copy-button-container svg {
    color: rgb(180, 180, 180);
}

.copy-button-container:hover svg {
    color: green;
}

.copy-button-container:hover {
    background-color: rgb(180, 180, 180);
}
