.main-axis-options-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

.main-column-1 {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.main-column-2 {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.ticks-options-container {
    display: flex;
    flex-direction: row;
    padding-top: 4px;
    gap: 20px;
}

.tick-column-1 {
    display: flex;
    flex-direction: column;
}

.ticks-options-container {
    display: flex;
}

.grid-options-container {
    display: flex;
    flex-direction: row;
    padding-top: 4px;
    gap: 20px;
}

.grid-column-1 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.grid-column-2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.advanced-options-container {
    display: flex;
    flex-direction: row;
    padding-top: 4px;
    gap: 20px;
}
.advanced-column-1 {
    display: flex;
    flex-direction: column;
}

@media (min-width: 769px) and (max-width: 1080px) {
    .main-axis-options-container {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
    }

    .grid-options-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
}
