.color-input-field-container {
    display: flex;
    align-items: center;
    gap: 2px;
    /* width: 122px;
    height: 35px; 
    /* border: solid 1px red; */
    height: 25px;
}

/* Label */
.color-input-field-container label {
    font-size: 12px;
    color: rgb(180, 180, 180);
    min-width: 10px; /* aligns nicely in panels */
}

/* Color input wrapper look */
.color-input-field-container input[type="color"] {
    -webkit-appearance: none;
    appearance: none;

    width: 28px;
    height: 28px;

    padding: 0;
    border: 1px solid rgb(57, 56, 56);
    border-radius: 3px;

    background-color: rgb(36, 36, 36);
    cursor: pointer;
}

/* WebKit color swatch */
.color-input-field-container input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 2px;
}

.color-input-field-container input[type="color"]::-webkit-color-swatch {
    border-radius: 2px;
    border: none;
}

/* Firefox */
.color-input-field-container input[type="color"]::-moz-color-swatch {
    border-radius: 2px;
    border: none;
}

/* Hover polish */
.color-input-field-container input[type="color"]:hover {
    border-color: rgb(255, 247, 241);
}

/* Focus (keyboard accessible, subtle) */
.color-input-field-container input[type="color"]:focus-visible {
    outline: none;
    border-color: rgb(255, 247, 241);
}
