.large-text-input-field-container {
    display: flex;
    flex-direction: column;
    gap: 4px; /* space between label and input */
    padding: 2px 0;
}

/* Label */
.large-text-input-field-container label {
    font-size: 12px;
    color: rgb(180, 180, 180);
}

.large-text-input-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* InfoLabel positioning */
.large-text-input-wrapper > *:last-child {
    position: absolute;
    top: 6px;
    right: 8px;
}

.large-text-input-field-container textarea {
    height: 75px;
    padding: 6px 8px;

    font-size: 12px;
    color: rgb(220, 220, 220);
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    background-color: rgb(36, 36, 36);
    border: 1px solid rgb(57, 56, 56);
    border-radius: 4px;

    outline: none;
    resize: none;
    box-sizing: border-box;
}

/* Hover & focus */
.large-text-input-field-container input[type="text"]:hover,
.large-text-input-field-container input[type="text"]:focus-visible {
    border-color: rgb(220, 220, 220);
}
