.number-input-field-container {
    display: flex;
    align-items: center;
    gap: 2px;
    /* width: 122px;

    padding-left: 3px; */
    /* border: solid 1px red; */
    height: 25px;
}

/* Label */
.number-input-field-container label {
    font-size: 12px;
    color: rgb(180, 180, 180);
    min-width: 20px;
}

/* Number input */
.number-input-field-container input[type="number"] {
    width: 45px;
    height: 20px;

    padding: 2px 4px 2px 6px;

    font-size: 12px;
    color: rgb(220, 220, 220);

    background-color: rgb(36, 36, 36);
    border: 1px solid rgb(57, 56, 56);
    border-radius: 3px;

    outline: none;
}

/* Hover & focus */
.number-input-field-container input[type="number"]:hover,
.number-input-field-container input[type="number"]:focus-visible {
    border-color: rgb(255, 247, 241);
}

/* ============================= */
/* ===== Firefox Fallback ====== */
/* ============================= */

.number-input-field-container input[type="number"] {
    -moz-appearance: number-input;
}
