.slider-input-field-container {
    display: flex;
    align-items: baseline;
    height: 25px;
}

/* Label */
.slider-input-field-container label {
    margin-right: 4px;
    font-size: 12px;
    color: rgb(180, 180, 180);
    min-width: 20px;
}

/* Value (small + quiet) */
.slider-value {
    font-size: 9px;
    color: rgb(220, 220, 220);
    min-width: 24px;
    text-align: left;
    margin-left: 1px;
}

/* ===== RANGE INPUT ===== */

.slider-input-field-container input[type="range"] {
    position: relative;
    top: -0.7px;
    -webkit-appearance: none;
    appearance: none;

    width: 90px;
    height: 3px;

    background: rgb(57, 56, 56);
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}

/* WebKit track */
.slider-input-field-container
    input[type="range"]::-webkit-slider-runnable-track {
    height: 3px;
    background: linear-gradient(
        to right,
        rgb(180, 180, 180) 0%,
        rgb(180, 180, 180) var(--fill),
        rgb(57, 56, 56) var(--fill),
        rgb(57, 56, 56) 100%
    );
    border-radius: 2px;
}

/* WebKit thumb */
.slider-input-field-container input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    background: rgb(220, 220, 220);
    border-radius: 50%;
    border: 1px solid rgb(36, 36, 36);
    margin-top: -3.5px;
}

/* Firefox track */
.slider-input-field-container input[type="range"]::-moz-range-track {
    height: 3px;
    background: rgb(57, 56, 56);
    border-radius: 2px;
}

/* Firefox filled portion */
.slider-input-field-container input[type="range"]::-moz-range-progress {
    height: 3px;
    background: rgb(180, 180, 180);
    border-radius: 2px;
}

/* Firefox thumb */
.slider-input-field-container input[type="range"]::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: rgb(220, 220, 220);
    border-radius: 50%;
    border: 1px solid rgb(36, 36, 36);
}

/* Hover & focus */
.slider-input-field-container input[type="range"]:hover,
.slider-input-field-container input[type="range"]:focus-visible {
    filter: brightness(1.1);
}
