.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-between;

    margin-top: 20px;
}

.output-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.output-text-container {
    display: flex;
    flex-direction: column;
}

.tikz-section {
    display: flex;
    flex-direction: column;
}

.tikz-text-container {
    resize: none;
}

.svg-text-container {
    resize: none;
}

.svg-section {
    display: flex;
    flex-direction: column;
}

.LaTeX-Container {
    display: flex;
    justify-content: space-between;
}

/* .svg-image-container {
} */

@media (max-width: 320px) {
    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: space-between;
        margin-top: 20px;
    }

    .svg-image-container {
        order: -1;
        margin-top: 10px;
    }

    .output-text-container {
        width: 300px;
    }
}

@media (min-width: 321px) and (max-width: 480px) {
    .main-container {
        /* display: flex; */
        flex-direction: column;
        justify-content: space-around;
        align-items: space-between;
        margin-top: 20px;
    }

    .svg-image-container {
        order: -2;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .output-text-container {
        width: 320px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .main-container {
        /* display: flex; */
        flex-direction: column;
        justify-content: space-around;
        align-items: space-between;
        margin-top: 20px;
    }

    .svg-image-container {
        order: -1;

        margin-top: 30px;
        margin-bottom: 30px;
    }

    .output-text-container {
        width: 420px;
    }
}

@media (min-width: 769px) and (max-width: 1080px) {
    .output-text-container {
        display: flex;
        flex-direction: column;
        width: 400px;
    }
}

@media (min-width: 1081px) and (max-width: 1280px) {
    .output-text-container {
        display: flex;
        flex-direction: column;
        width: 500px;
    }
}
