.add-button-container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 20px;
    padding: 2px 10px;

    font-size: 12px;
    color: rgb(220, 220, 220);

    background-color: rgb(36, 36, 36);
    border: 1px solid rgb(57, 56, 56);
    border-radius: 3px;

    cursor: pointer;
    user-select: none;
    /* margin-bottom: 3px; */

    transition: background-color 120ms ease, border-color 120ms ease;
}

.add-button-container:hover {
    background-color: rgb(45, 45, 45);
    border-color: rgb(255, 247, 241);
}

.add-button-container:active {
    background-color: rgb(30, 30, 30);
}
