.main-circle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 12px;
}

.main-circle-column-1 {
    display: flex;
    flex-direction: column;
}

.main-circle-column-2 {
    display: flex;
    flex-direction: column;
}
