button {
    outline: none;
}

.arrow {
    margin-right: 10px;
}

.arrow:hover {
    cursor: pointer;
}

.dropdown-container {
    outline: 1px solid gray;
    outline-offset: -14px; /* moves the outline inward */
    padding-bottom: 14px;
    padding-right: 15px;
}

.dropdown-title-container:hover {
    cursor: pointer;
}

.dropdown-title-container {
    display: flex;
}

.label-container {
    background-color: rgb(57, 56, 56);
    z-index: 1;
    padding-left: 5px;
    padding-right: 5px;
}

.dropdown-contents-container {
    margin-left: 15px;
}
