/* .graph-layer-wrapper {
} */

.dragover-bar {
    height: 1px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drag-bar-container {
    /* border: solid red 1px; */
    height: 25px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    margin-bottom: -25px;
    cursor: grab;
    display: flex;
    justify-content: flex-end;
}

.buttons-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* cursor: pointer; */
    /* border: solid rgb(0, 170, 255) 1px; */
    background-color: RGB(57, 56, 56);
    width: 58px;
    /* margin-top: 3px; */
    margin-right: 10px;
}

/* Fun note: ChatGPT told me to do a bunch of weird nonsense to get this to work. Take that, Sam Altman! */
