.main-graph-point-container {
    margin-top: 13px;
    margin-left: 10px;

    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 20px;
}

.main-graph-point-container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
}

.graph-point-coordinates-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.graph-point-styles-container {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
