/* .graph-component-container {
    min-height: 200px;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px;
    padding: 20px;
} */

button {
    margin: 3px;
}

label {
    margin: 2px;
}

.number-input-field {
    width: 40px;
    margin-left: 10px;
}

.checkbox-field {
    border: 1px solid green;
}

.text-input-field {
    border: 1px solid blue;
}

.range-field {
    border: 1px solid red;
}

/* -------------------------- Axis Container -------------------------------- */
/* 
.graph-options-container {
  
    margin-left: 20px;
    display: flex;
    flex-direction: column;
} */

.axis-size-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.graph-button-container {
    margin-top: 5px;
    display: flex;
}
