.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-between;
    /* border: solid purple 1px; */
    margin-top: 20px;
}

.output-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.output-text-container {
    display: flex;
    flex-direction: column;
}

.tikz-section {
    display: flex;
    flex-direction: column;
}

.tikz-text-container {
    resize: none;
}

.svg-section {
    display: flex;
    flex-direction: column;
}
