.options-container {
    background-color: rgb(57, 56, 56);
    min-height: 400px;
    min-width: 600px;

    border-radius: 7px;
    border: 2px solid rgb(3, 77, 215);
}

.selection-container {
    display: flex;

    justify-content: center;
    align-items: center;
    padding-top: 10px;
    /* border: 1px solid red; */
}

.to-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 320px) {
    .options-container {
        min-height: 200px;
        min-width: 300px;
    }
}

@media (min-width: 321px) and (max-width: 480px) {
    .options-container {
        min-height: 200px;
        min-width: 300px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .options-container {
        min-height: 200px;
        min-width: 300px;
    }
}

@media (min-width: 769px) and (max-width: 1080px) {
    .options-container {
        min-height: 200px;
        min-width: 300px;
    }
}

@media (min-width: 1081px) and (max-width: 1280px) {
    .options-container {
        min-height: 900px;
        min-width: 500px;
    }
}
