.test-container {
    height: 400px;
    width: 800px;
    overflow: auto;

    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;

    border-radius: 7px;
    border: 2px solid rgb(215, 105, 3);

    padding: 10px;
}

.SVG-container {
    display: inline-block; /* Prevents unexpected stretching */
    max-width: 100%; /* Ensures it doesn't exceed the container */
    max-height: 100%; /* Ensures it doesn't exceed the container */
}
